 body {
  background-color: black;
}

h1 {
  color: lime;
  text-align: center;
  text-decoration: underline overline;
}

p {

  text-align: center;
  color: lime;
  font-family: arial;
  font-size: 22px;
  font-style: italic;
  /*text-decoration: underline overline;*/
}

form {

  text-align: center;
  color: limegreen;
  font-family: arial;
  font-size: 20px;
}